<a href="https://colab.research.google.com/github/JoshOdegai/Josh_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
fruits = ['apple', 'banana', 'orange']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [7]:
#2
names = ['Aaron', 'Bob', 'Cole', 'Dylan']
names[0] = 'Paul'
print(names)

['Paul', 'Bob', 'Cole', 'Dylan']

In [8]:
#3
vehicles = ['car', 'bus', 'boat', 'plane', 'bike']
vehicles.append('jet')
print(vehicles)

['car', 'bus', 'boat', 'plane', 'bike', 'jet']

In [10]:
#4
foods = ['macaroni', 'steak', 'chicken', 'beef', 'rice', 'stew']
foods.remove('rice')
print(foods)

['macaroni', 'steak', 'chicken', 'beef', 'stew']

In [13]:
#5
cities = ['Houston', 'Dallas', 'San Antonio', 'Galveston']
cities.sort()
print(cities)
cities.sort(reverse=True)
print(cities)

['Dallas', 'Galveston', 'Houston', 'San Antonio']
['San Antonio', 'Houston', 'Galveston', 'Dallas']

In [14]:
#6
animals = ['Bear' ,'Rabbit', 'Fox']
for animal in animals:
  print(animal)

Bear
Rabbit
Fox

In [16]:
#7
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

In [21]:
#8
friends = ['Sophie', 'Claire', 'Dan', 'Halle', 'Mitch', 'John']
print(friends[:3])
print(friends[3:])

['Sophie', 'Claire', 'Dan']
['Halle', 'Mitch', 'John']

In [23]:
#9
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
#10
numbers = [value**2 for value in range(1,6)]
print(numbers)

[1, 4, 9, 16, 25]